<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="person" class="com.jspiders.pkg1.Person" autowire="byName">
		<property name="name" value="smith"></property>
		<property name="age" value="27"></property>
		
	</bean>

	<bean id="car1" class="com.jspiders.pkg1.Car">
		<property name="brand" value="audi"></property>
	</bean>

	<bean id="car2" class="com.jspiders.pkg1.Car">
		<property name="brand" value="bmw"></property>
	</bean>

	<bean id="car3" class="com.jspiders.pkg1.Car">
		<property name="brand" value="nano"></property>
	</bean>
</beans>





